<recipe id="ird_rdi_fake_injection.*">
    <frame_type include="IRD_SCIENCE_REDUCED_MASTER_CUBE">
        <attribute id="inst_filter" restriction="equal"/>
        <attribute id="coro" restriction="equal"/>
    </frame_type>
    <frame_type include="IRD_SCIENCE_PSF_MASTER_CUBE" limit="1">
        <attribute id="parent_process_id" restriction="equal"/>
    </frame_type>
</recipe>